:root{
    --primary: #A8D5BA;
    --black: #000;
    --white: #fff;
    --grey: #eee;
}

.errorPage{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errorHeader{
    margin-bottom: 40px;
}

.errorHeader h1{
    background: rgba(0,0,0,0.90);
    color: white;
    padding: 18px 50px;
    border-radius: 18px;
    font-size: 64px;
    letter-spacing: 2px;
}

.errorCard{
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 18px rgba(0,0,0,0.15);
    text-align: center;
    width: 70%;
    max-width: 700px;
}

.errorCard h2{
    margin-bottom: 10px;
}

.subtitle{
    margin-top: 0;
    font-size: 18px;
}

.joke{
    color: #555;
    margin-bottom: 30px;
}

.actions{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn{
    background: black;
    color: white;
    padding: 10px 22px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover{
    background: var(--primary);
    color: var(--black);
}

.btn.secondary{
    background: var(--primary);
    color: black;
}

.btn.secondary:hover{
    background: var(--black);
    color: var(--white);
}